.main {
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  align-items: center;
}

.topText {
  font-size: 2rem;
  text-align: center;
  margin: 0.5rem auto;
}

.keyboard {
  align-self: stretch;
}
